<div class="container">
    <div *ngIf="movie">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-responsive img-rounded poster" src={{movie.poster_path}} width="90%" />
                </div>
                <div class="col-md-4">
                    <h1>Movie:</h1>
                    <b>Title:</b> {{movie.title}}
                    <br>
                    <b>Release Date:</b> {{movie.release_date}}
                    <br>
                    <b>ID:</b> {{movie.id}}
                    <br>
                    <b>Rating:</b> {{movie.vote_average}} &#9734;
                    <br>
                    <h4>Plot:</h4> {{movie.overview}}
                    <br>
                    <br>
                    <p>
                        <button (click)="gotoMovies()">Back</button>
                    </p>
                </div>
                <div class="col-md-3">
                    <iframe width="640" height="480" [src]="safeUrl" frameborder="0" gesture="media" allowfullscreen></iframe>
                </div>
            </div>

    </div>